<div class="container">
  <h1>App angular</h1>
  <p>
    Esta es la primera app angular realizada por {{ autor }} para la asignatura
    {{ asignaturaa }}. Por favor selecciona qué componente quieres ver
  </p>

  <select class="form-select" [(ngModel)]="seleccion">
    <option value="1">Conomientos</option>
    <option value="2">Asignaturas</option>
    <option value="3">Tecnologías</option>
  </select>

  <div [ngSwitch]="seleccion">
    <app-listado *ngSwitchCase="'1'"></app-listado>
    <app-asignaturas *ngSwitchCase="'2'"></app-asignaturas>
    <app-tecnologias *ngSwitchCase="'3'"></app-tecnologias>

    <p *ngSwitchDefault>Por favor selecciona una opción</p>
  </div>
</div>
